.container {
    display: flex;
    gap: 3rem;
}
.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    gap: 1rem;
    background-color: black;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 6rem;
    cursor: pointer;
}

.scoreboard {
    width: 600px;
    display: grid;
    grid-template-rows: 1fr min-content 1fr 1fr 1fr;
}

.turn {
    margin: 0px;
}

.scorecard {
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    border-bottom: 2px solid black;
}

.nameplate {
    grid-column: 1 / span 5;
}

.button-bar {
    display: grid;
    padding: 1rem;
    gap: 5px;
}

.result {
    font-size: 1.5rem;
    text-align: center;
}
